.gallery {
    margin-left: 50px;
    border: 1px solid white;
    float: left;
    
  }

.gallery:hover {
      border: 1px solid black;
  }

.description {
    text-align: center;
    padding: 15px;
}

.description:hover {
    background-color: turquoise;
}

.text {
    text-align: center;
}

.hero-image{
  background-image: url(images/h-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

html,body{
    background-color: rgb(5, 5, 5);
    color: blanchedalmond;
}