.gallery {
    margin: 5px;
    border: 1px solid white;
    float: left;
    width: 180;
  }

.gallery:hover {
      border: 1px solid black;
  }

.description {
    text-align: center;
    padding: 15px;
}