.gallery {
    margin-left: 50px;
    border: 1px solid white;
    float: left;
    background-color: black;
  }

.gallery:hover {
      border: 1px solid black;
  }

.description {
    text-align: center;
    padding: 15px;
    position: relative;

}

.text {
    text-align: center;
}


html,body{
    background-color: rgb(5, 5, 5);
    color: blanchedalmond;
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family: courgette;
}

h1,h2,h3,h4,h5,h6{
   padding: 20px;
   background-color: black;
   font-family: Abril Fatface;
}

.order{
    background-color: grey;
}

.selection{
    padding-left: 2%;
    padding-right: 2%;
}

.flavours{
    background-color: black;
}

.delivery{
    visibility: hidden;
}

.transbox{
  margin: 30px;
  background-color: black;
  border: 1px solid black;
  opacity: 0.8;
}

.otransbox{
    margin: 30px;
    background-color: grey;
    border: 1px solid black;
    opacity: 0.9;
  }